@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
html {
  background-color: rgb(54, 54, 158);
}

body {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 2.5rem;
}

p {
  line-height: 1.8;
}
img {
  max-width: 100%;
}

.contenedor {
  max-width: 75rem;
  margin: 0 auto;
}

.productos {
  margin-top: 7rem;
}
.productos__heading {
  text-align: center;
  color: #fff;
}

.productos__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.producto {
  padding: 1rem;
  background-color: #fff;
}

.producto__contenido {
  padding: 1rem;
}

.producto__nombre {
  font-size: 1.5rem;
}

.producto__description {
  margin: 0;
}

.producto__precio {
  font-size: 1.5rem;
  font-weight: 900;
}

.producto__boton {
  background-color: blue;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  color: white;
  cursor: pointer;
}
